.name-input-area{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:90%;
}

.name-input-area input{
    width:80%;
    height:60px;
    text-align: center;
    font-size: 24px;
}

